<h2>Songs</h2>

<div class="container-fluid">
  <div class="row">
    <table class="table music-list">
      <tbody>
        <% songs.forEach(function(song){ %>
          <tr>
            <th scope="row" class="play-col"><button type="button" name="button" class="btn btn-outline-success btn-sm play-btn" value="<%= song.name %>"><i class="fa fa-play" aria-hidden="true"></i></button></th>
            <td>
              <%= song.name %>
            </td>
            <td>
                <%= song.playCount %>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>
</div>

<div class="music-player">
  <div class="col-xs-12">
    <audio id="audioPlayer" src=""/>
  </div>
  <div class="col-xs-12">
    <div class="song-name">

    </div>
  </div>
</div>

<script>
  var as;

  var playBtns = document.getElementsByClassName('play-btn');

  var playSong = function(e) {
      if (!as) {
          as = audiojs.createAll();
      }
    as[0].load("/music/" + e.currentTarget.value);
    as[0].play();
    document.getElementsByClassName('song-name')[0].innerHTML = e.currentTarget.value;
  };

  for (var i = 0; i < playBtns.length; i++) {
    playBtns[i].addEventListener('click', playSong, false);
  }
</script>
